@(commandForm: Form[_], commandClass: Class[_], fields: Array[String], updateAction: play.api.mvc.Call, deleteAction: play.api.mvc.Call)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {

    <h1>@Messages("command."+commandClass.getSimpleName()+".title")</h1>

    <div id="actions">
    @form(deleteAction, 'class -> "topRight") {
        <input type="submit" value="Delete" class="btn danger">
        }
    </div>
    
    @form(updateAction) {

        @for(name <- fields) {
            <fieldset>
            @inputText(commandForm(name), '_label -> Messages("command." + commandClass.getSimpleName() + ".field." + name))
            </fieldset>
        }
        
        <div class="actions">
            <input type="submit" value="Save" class="btn primary"> or
            <a href="@Application.GO_HOME" class="btn">Cancel</a>
        </div>
        
    }
}
